@page
@model estore.MicroFrontEnd.Orders.Areas.Admin.Pages.Orders.DetailsModel
@{
    ViewData["Title"] = "Order Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ProductName)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.UnitCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.UnitCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CustomerEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CustomerEmail)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShippingAddress)
        </dd>
          <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TransactionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TransactionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
