@page
@model estore.MicroFrontEnd.Orders.Areas.Admin.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

@if (Model?.Orders?.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Orders[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Orders[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Orders[0].ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Orders[0].Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Orders[0].CustomerName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no orders to display</p>
}
